@charset "UTF-8";
/*===================================
# mixins
====================================*/
@media screen and (min-width: 768px) {
  .is_pc {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .is_sp {
    display: none;
  }
}
/*===================================
# 共通
====================================*/
body {
  font-size: 16px;
  color: #333333;
  font-weight: 300;
  line-height: 1.6875;
  font-family: "ヒラギノ明朝 ProN", serif;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
@media screen and (max-width: 767px) {
  .inner {
    padding: 0 15px;
  }
}

a {
  text-decoration: none;
  color: #333333;
}

img {
  width: 100%;
}

.section {
  margin-top: 130px;
  padding-top: 30px;
}
@media screen and (max-width: 767px) {
  .section {
    margin-top: 96px;
    padding: 15px;
  }
}

.section_title {
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  line-height: 1;
  position: relative;
  padding-bottom: 16px;
  margin-bottom: 64px;
}
@media screen and (max-width: 767px) {
  .section_title {
    margin-top: 12px;
    font-size: 30px;
  }
}
.section_title::after {
  position: absolute;
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background: #333333;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section_btn {
  margin-top: 48px;
  text-align: center;
}

.section_btn_link {
  display: inline-block;
  height: 46px;
  width: 157px;
  line-height: 46px;
  border: 1px solid #333333;
  color: #333333;
  font-weight: 600;
  background: #fff;
}
.section_btn_link:hover {
  color: #fff;
  background: #333333;
  border: #333333;
}

/*===================================
# header
====================================*/
.header {
  position: fixed;
  z-index: 1000;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 3px 15px rgba(96, 96, 96, 0.16);
          box-shadow: 0 3px 15px rgba(96, 96, 96, 0.16);
  height: 70px;
}

.header_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_logo {
  font-size: 30px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .header_logo {
    line-height: 70px;
  }
}

.drawer_item {
  height: 70px;
}

.drawer_link {
  display: block;
  height: 70px;
  line-height: 70px;
}
.drawer_link:hover {
  font-weight: bold;
}

.header_nav {
  margin-left: auto;
}

.header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header_list:hover {
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .header_list {
    display: none;
  }
}

.header_item:not(:first-child) {
  margin-left: 48px;
}

.header_link {
  display: block;
  height: 70px;
  line-height: 70px;
}

/*===================================
# profile
====================================*/
.profile {
  position: relative;
  margin-top: 120px;
}
@media screen and (max-width: 767px) {
  .profile {
    margin-top: 120px;
  }
}

.profile_img {
  padding-top: 55%;
  background: url(../img/keyboard-338505_1280.jpg) top right/82.5% no-repeat;
}
@media screen and (max-width: 767px) {
  .profile_img {
    background: url(../img/keyboard-338505_640.jpg) center center/cover;
    height: 400px;
    padding: 0;
    margin-bottom: 250px;
  }
}

.profile_message {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #fff;
  padding: 82px 44px 90px 40px;
}
@media screen and (max-width: 767px) {
  .profile_message {
    top: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    padding: 0;
    left: 20px;
  }
}

.profile_title {
  font-size: 26px;
  font-weight: bold;
}

.profile_text {
  margin-top: 18px;
}

/*===================================
# skill
====================================*/
.skill_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .skill_list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.skill_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  -webkit-box-shadow: 3px 3px 15px rgba(96, 96, 96, 0.16);
          box-shadow: 3px 3px 15px rgba(96, 96, 96, 0.16);
}
@media screen and (max-width: 767px) {
  .skill_item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }
  .skill_item:nth-child(n+2) {
    margin-top: 10px;
  }
}
.skill_item + .skill_item {
  margin-left: 10px;
}
@media screen and (max-width: 767px) {
  .skill_item + .skill_item {
    margin-left: 0;
  }
}

.skill_text {
  padding: 0 10px 5px 10px;
  font-weight: bold;
}

/*===================================
# promise
====================================*/
.promise_dl {
  max-width: 1040px;
  margin: 0 auto;
}

.promise_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid black;
  padding: 22px;
}
@media screen and (max-width: 767px) {
  .promise_row {
    display: block;
  }
}

.promise_dt {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 260px;
          flex: 0 0 260px;
}

.promise_dd {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  margin-left: 40px;
}
@media screen and (max-width: 767px) {
  .promise_dd {
    margin: 0;
  }
}

.promise_title {
  font-size: 25px;
  font-weight: 600;
}

.promise_text {
  margin-top: 16px;
  font-size: 14px;
  line-height: 1.7142857143;
  color: #888888;
  font-weight: bold;
}

/*===================================
# service
====================================*/
.service_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 940px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .service_list {
    display: block;
  }
}

.service_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27.6%;
          flex: 0 0 27.6%;
}
@media screen and (max-width: 767px) {
  .service_item + .service_item {
    margin-top: 20px;
  }
}

.service_link {
  display: block;
  font-size: 14px;
  color: #333333;
}

.service_text {
  margin-top: 24px;
}
.service_text span {
  font-weight: bold;
}

.service_price {
  margin-top: 16px;
  font-weight: bold;
  font-size: 20px;
}

/*===================================
# contact
====================================*/
.contact_text {
  font-size: 14px;
  margin-bottom: 24px;
  letter-spacing: 0.1em;
  text-align: center;
}
.contact_text span {
  color: #E7728E;
  font-size: 16px;
}

.contact_dl {
  max-width: 510px;
  margin: 0 auto;
}

.contact_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .contact_row {
    display: block;
  }
}
.contact_row + .contact_row {
  margin-top: 32px;
}

.contact_dt {
  background: #333333;
  color: #fff;
  height: 40px;
  line-height: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  position: relative;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .contact_dt {
    margin-bottom: 8px;
  }
}
.contact_dt span {
  font-size: 12px;
  color: #E7728E;
  vertical-align: super;
  line-height: 1;
}
.contact_dt::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -8px;
  border-style: solid;
  border-width: 20px 0 20px 8px;
  border-color: transparent transparent transparent #333333;
}
@media screen and (max-width: 767px) {
  .contact_dt::after {
    display: none;
  }
}

.contact_dd {
  margin-left: 18px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
}
@media screen and (max-width: 767px) {
  .contact_dd {
    margin-left: 0;
  }
}

input[type=text],
input[type=email],
textarea {
  width: 100%;
  height: 40px;
  border: 0;
  font-size: 16px;
  padding: 0.2em 0.5em;
  border-radius: 2px;
  -webkit-box-shadow: 5px 6px 16px rgba(96, 96, 96, 0.16);
          box-shadow: 5px 6px 16px rgba(96, 96, 96, 0.16);
}

input[type=text],
input[type=email] {
  height: 40px;
}

textarea {
  min-height: 120px;
  resize: vertical;
}

.contact_footer {
  margin-top: 20px;
}

.contact_footer_text {
  text-align: center;
}

.contact_privacy_link {
  color: #333333;
  text-decoration: underline;
}

.contact_radio_wrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid #fff;
  border-radius: 1px;
  -webkit-box-shadow: 5px 6px 16px rgba(96, 96, 96, 0.16);
          box-shadow: 5px 6px 16px rgba(96, 96, 96, 0.16);
}

.contact_radio {
  position: relative;
}

.contact_radio_input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.contact_radio_input:checked + .contact_radio_part {
  background: #333333;
  color: #fff;
  border-radius: 1px;
}
.contact_radio_input:focus + .contact_radio_part {
  outline: -webkit-focus-ring-color auto 1px;
}

.contact_radio_part {
  display: block;
  background: #fff;
  color: #333333;
  height: 38px;
  line-height: 38px;
  width: 80px;
  text-align: center;
}

.contact_privacy {
  position: relative;
  height: 22px;
  width: 22px;
  display: inline-block;
  vertical-align: middle;
}

.contact_privacy_part {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid #333333;
  background: #fff;
  top: 0;
  left: 0;
  position: absolute;
}

.contact_privacy_input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.contact_privacy_input:checked + .contact_privacy_part {
  width: 10px;
  border-top: 0;
  border-left: 0;
  background: transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -5px;
  left: 5px;
}
.contact_privacy_input:focus + .contact_privacy_part {
  outline: -webkit-focus-ring-color auto 1px;
}
.contact_privacy_input:checked:focus + .contact_privacy_part {
  outline: none;
}

.contact_message {
  text-align: center;
  margin-top: 60px;
  display: none;
}
.contact_message.-error {
  color: #f00;
}

.footer_btn {
  margin-top: 48px;
  text-align: center;
}

.footer_btn_link {
  display: inline-block;
  height: 46px;
  width: 157px;
  line-height: 46px;
  border: 1px solid #333333;
  color: #333333;
  font-weight: 600;
  background: #fff;
}
.footer_btn_link.-active {
  color: #fff;
  background: #333333;
}

/*===================================
# news
====================================*/
.footer {
  background: #F7F7F7;
  text-align: center;
  padding: 30px 0 30px 0;
}

.footer_copyright {
  text-align: center;
}